<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PZStore</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="~/Assets/images/master-page/shortcut-icon.png" type="image/png">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </head>
    <body>
        <!--Header-->
        <nav class="navbar navbar-expand-md sticky-top navbar-visual navbar-light">
            <div class="container-fluid">
                <!--Logo-->
                <a href="~/Home/Index" class="navbar-brand-link">
                    <img src="~/Assets/images/master-page/logo.png" alt="PZStoreLogo" id="navbar_logo" />
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Main Navbar-->
                <div id="navbarResponsive" class="collapse navbar-collapse">
                    <!--Central Section-->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">@Html.ActionLink("Main", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About Store", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 ml-auto">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="background-color: transparent; border-color:transparent;">
                            <i class="fa fa-search" style="color: #f5f5dc;"></i>
                        </button>
                    </form>

                    <ul class="navbar-nav" style="margin-left: auto !important;">
                        <li class="nav-item nav-link" id="signInLink">
                            <a href="@Url.Action("LogIn","Authorization")" class="btn btn-dark m-0">Sign In</a>
                        </li>
                        <li class="nav-item nav-link" id="signUpLink">
                            <a href="@Url.Action("Register","Authorization")" class="btn btn-dark m-0">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Main Content-->
        <div class="container-fluid body-content">
            @RenderBody()
        </div>

        <!--Footer-->
        <footer class="container-fluid">
            <div class="row text-center">
                <div class="col-md-4">
                    <h2>Contacts</h2>
                    <span>+48 888 999 000</span><br />
                    <span>infoPZS@gmail.com</span>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <h2>Links</h2>
                        </div>
                        <div class="col-12 social">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Location</h2>
                    <span>plac Defilad 1</span>
                    <br />
                    <span>00-901 Warszawa</span>
                </div>
            </div>
            <div>
                <hr />
                © 2020 Copyright: Daniel Martin
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>