@{
    ViewBag.Title = "Main Page";
}
<link rel="stylesheet" href="~/Content/pages/main-page.css" />

<div class="row">
    <div class="col-md-2 category-bar">
        <div class="list-group">
            @Html.ActionLink("All", "Index", null, new { @class = "list-group-item list-group-item-action", @style = "" + (ViewBag.currentCategory == null ? "background-color: #6B8E23; color: white;" : "") })
            @Html.ActionLink("Clothes", "Index", new { category = "Clothes" }, new { @class = "list-group-item list-group-item-action", @style = "" + (ViewBag.currentCategory == "Clothes" ? "background-color: #6B8E23; color: white;" : "") })
            @Html.ActionLink("Toys", "Index", new { category = "Toys" }, new { @class = "list-group-item list-group-item-action", @style = "" + (ViewBag.currentCategory == "Toys" ? "background-color: #6B8E23; color: white;" : "") })
            @Html.ActionLink("Furniture", "Index", new { category = "Furniture" }, new { @class = "list-group-item list-group-item-action", @style = "" + (ViewBag.currentCategory == "Furniture" ? "background-color: #6B8E23; color: white;" : "") })
            <a href="#" class="list-group-item list-group-item-action">Something else</a>
        </div>
    </div>
    <div class="col-md-10">
        @Html.Action("ProductsRow", "Partial", new {category = ViewBag.currentCategory, page = ViewBag.productPage})
    </div>
</div>